*.cm[ioa]
*.cmx
*.cmx[oa]
*.o
*.a
regression/test[0-9]??
regression/test???.log
Makefile.in
Makefile
.depend
autom4te.cache
*.swp
config.log
config.status
*_pp*.ml
*_pp*.mli
*.pp
*.ast
.exrc
aclocal.m4
configure
config/*
config/!mktemp.sh

create_new_test.sh
check.sh
check_err
check_out
cat_core.mli.sh
