*.cm[ioa]
*.cmx
*.cmx[oa]
*.o
*.a
regression/test[0-9]??
regression/test???.log
Makefile.in
Makefile
.depend
autom4te.cache
*.swp
config.log
config.status
*.pp
aclocal.m4
configure
config/*
config/!mktemp.sh

create_new_test.sh
check.sh
